/* .pie-pagina{

    background-color: #387198;
}

.pie-pagina {
    background-color: #387198;
    padding: 15px 380px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    
 
  
 
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
  
}
 */