.pie-pagina{

    background-color: #387198;
    position: relative;
width: 100%;
 min-height: auto;
   margin-top: 20px;
}

.pie-pagina {
    background-color: #0076B5;
    padding: 15px 40px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
 font-weight: bold;
   
 
  
 
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
  
}
 