



<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
      <div class="container-fluid">
          <!-- Breadcrumbs -->
        <app-breadcrums></app-breadcrums>

          <!-- Mi sistema de rutas -->
        <router-outlet></router-outlet>

          <!-- 
          <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">
                          
                      </div>
                  </div>
              </div>
          </div> 
          -->

      </div>

      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="pie-pagina">
           
        <div class="grupo-2">
            <p class="copy">&copy; 2022 <b>CDR</b> - Todos los Derechos Reservados  | Designed & Developed By Christian Solano</p>
        </div>
        </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->

  </div>


</div>



