



  
  <app-header></app-header>


            <router-outlet></router-outlet> 
    
 <!-- 
          <section class="home-section">
            <div class="home-content">
              <i class='bx bx-menu' ></i>
              <app-breadcrums></app-breadcrums>
             
            </div>
          </section> -->
    
          
      
       <!--   <footer class="pie-pagina mt-5">
               
            <div class="grupo-2">
                <small>&copy; 2022 <b>CDR</b> - Todos los Derechos Reservados  | Designed & Developed By Christian Solano</small>
            </div>
            </footer> -->
 
