.bg{
  background: #fff;
   color: #ff8970;

   text-align: center;
 

  
  }

 

.bg img{
    display:block;
    margin:auto;
   padding-top: 20%;
  
 
  }
  button{
  background-color: #0076B5;
 text-decoration: none;
outline: none;
 border: none;
 cursor: pointer;
 display: inline-block;
 font-size: 18px;
 font-weight: bold;
  }

 