.navbar {
  background-color: #0076B5 !important;
color: #fff;

}
.nav-link{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
cursor: pointer;
}
.navbar-brand{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.cta1{

  margin: 5px 5px 5px 50px;

}


 .cursor{
cursor: pointer;
}
